<ion-header>
  <ion-toolbar>   
  <ion-buttons>
  <ion-menu-button></ion-menu-button>
  <ion-title>Member List</ion-title>
 
 
  </ion-buttons>
   
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-toolbar>
    <ion-title>Welcome to the IONICTEAM</ion-title>
  </ion-toolbar>
  <br>
  <ion-card>
    <img src="assets/images/wallpaper_mikael_gustafsson.png"/>
    <ion-card-content>
      <ion-card-title>
       Tjarda Voorn
      </ion-card-title>
      <p>
        Student of Informatic @Hogeschool Rotterdam.
      </p>
    </ion-card-content>
    <ion-row no-padding>
      <ion-col>
        <button ion-button clear small color="danger" icon-start>
          <ion-icon name='star'></ion-icon>
          Favorite
        </button>
      </ion-col>
      <ion-col text-right>
        <button ion-button clear small color="danger" icon-start>
          <ion-icon name='share-alt'></ion-icon>
          Share
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
<br>
  <ion-card>
    <img src="assets/images/profiel1.jpg"/>
    <ion-card-content>
      <ion-card-title>
        Frank Tjok Pak Joe
      </ion-card-title>
      <p>
       Student of Informatic @Hogeschool Rotterdam.
      </p>
    </ion-card-content>
    <ion-row no-padding>
      <ion-col>
        <button ion-button clear small color="danger" icon-start>
          <ion-icon name='star'></ion-icon>
          Favorite
        </button>
      </ion-col>
      <ion-col text-right>
        <button ion-button clear small color="danger" icon-start>
          <ion-icon name='share-alt'></ion-icon>
          Share
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
  <br>
  <ion-card>
    <img src="assets/images/wallpaper_mikael_gustafsson.png"/>
    <ion-card-content>
      <ion-card-title>
        Thomas de Graaf
      </ion-card-title>
      <p>
        Student of Informatic @Hogeschool Rotterdam.
      </p>
    </ion-card-content>
    <ion-row no-padding>
      <ion-col>
        <button ion-button clear small color="danger" icon-start>
          <ion-icon name='star'></ion-icon>
          Favorite
        </button>
      </ion-col>
      <ion-col text-right>
        <button ion-button clear small color="danger" icon-start>
          <ion-icon name='share-alt'></ion-icon>
          Share
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
