<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
      <ion-title>ICT LAB 2019</ion-title>


    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content padding>

  <img src="assets/images/ionic-4-final-1024x569.png"/>
  <br>
  <p><strong>Team Iconic</strong></p>
  <br>
  <p><strong>Our way of working</strong></p>
  <p>We will get our customer information mostly from our connection with the BIM students, this information will help us shape the software the customer desires.</p>
  <br>
  <p><strong>Coding conventions</strong></p>
  <p>We will maintain the coding conventiosn for C# that are laid out by Microsoft, including Naming, Layout, and Commenting conventions.</p>
  <br>
  <p><strong>Version Control</strong></p>
  <p>Our team will be using Git(hub) for our version control to maintain a steady workflow for our software.</p>
  <br>
  <p><strong>Test Strategy</strong></p>
  <p>Our tests will consist of both unit and integration tests to make sure our software can be integrated in the easiest possible way.</p>
  <br>
  <p><strong>Possible Bugtracking</strong></p>
  <p>Any bugs that we encounter will be solved by us, and our tests, that will be written to prevent bugs from happening. We will also strife to maintain our code on a professional level.</p>

</ion-content>
